* {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

body {
	width: 100%;
  background-image:url('../img/wavegrid.png');
}

#main_container {
	margin: 0px auto;
	width: 100%;
}

.heading {
  margin: 0px auto;
  text-align: center;
  font-family: 'Lobster Two', cursive;
  font-size: 75px;
}

table {
  margin: 0px auto;
}

.box_cell {
	border: 1px solid #333333;
	width: 150px;
	height: 150px;
  border-radius: 100%;
  opacity: .75;
  box-shadow: 2px 2px 0px #888888;
}

td.box_cell.yellow {
   background-color: #ffc300;
}

td.box_cell.blue {
    background-color: #73d2c9;
}

.yellowHover {
  background-color: #ffc300;
  opacity: 0.5;
}

.blueHover {
  background-color: #73d2c9;
  opacity: 0.5;
}

#messageBoard {
  text-align: center;
  font-size: 110%;
}

#panel {
  text-align: center;
}

.input {
  height: 30px;
  width: 200px;
  font-size: 110%;
  border-radius: 5px;
  border: 1px solid #333333;
  text-align: center;
}

#playButton {
  height: 60px;
  width: 100px;
  font-size: 110%;
  color: #ffffff;
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #333333;
  text-align: center;
  background-color: #73d29a;
  box-shadow: 2px 2px 0px #888888;
}

@media (max-width:400px) {
  body {
    width: 320px;
    background-image:url('../img/wavegrid.png');
  }
  #main_container {
    margin: 0px auto;
    width: 320px;
  }
  table {
    margin: 0px auto;
    width: 250px;
    height: 250px;
  }
  .box_cell {
    border: 1px solid #333333;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    opacity: .75;
    box-shadow: 2px 2px 0px #888888;
  }
}
